@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Poppins', sans-serif;
	max-width: 1440px;
	margin: 0 auto;
	line-height: 1.5;
	color: #000;
}
body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-thumb {
	background-color: #1aa8ab;
}

body::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	font-size: 1.6rem;
	color: #000;
}
.fa-solid {
	font-size: 2.5rem;
}
img {
	width: 100%;
	height: 100%;
}

/* NAVIGATION AREA */
header {
	position: relative;
	height: 8.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5rem;
}
.nav ul {
	display: flex;
	gap: 3rem;
}
.nav ul li {
	display: inline-block;
}
.nav li a:hover,
nav li a:active {
	color: #1aa8ab;
}
.cta-reg {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}
.cta-reg a, .reg-btn {
	outline: none;
	width: 15rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	border: 2px solid;
	color: #4d3f71;
}
.login:hover {
	color: #fff;
	background: #4d3f71;
	border-color: #4d3f71;
}
.signup, .logout {
	color: #fff;
	background: #1aa8ab;
	border: 2px solid #1aa8ab;
}
.logout{
	font-size: 1.6rem;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.signup:hover, .logout:hover {
	background: #fff;
	color: #1aa8ab;
	border-color: #1aa8ab;
}
.toggle-btn {
	cursor: pointer;
	display: none;
}
.dropdown-menu {
	display: none;
	position: absolute;
	background: #1aa8ab;
	top: -100rem;
	right: 0;
	width: 100%;
	overflow: hidden;
	z-index: 20000;
}
.dropdown-menu.open {
	top: 6.8rem;
	padding: 3rem 0rem;
}
.dropdown-menu ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.dropdown-menu ul a {
	color: #fff;
}
.dropdown-menu .cta-reg {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}
.greeting {
	font-size: 2rem;
	font-weight: 500;
}
.greetingDivMobile{
	display: none;
}
.greetingDivMain{
	display: flex;
	align-items: center;
	gap: 3rem;
}

/* SEARCH SECTION */
.searchSection{
	background: #1aa8ab;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.searchForm{
	display: flex;
	gap: 1.5rem;
}
#search{
	width: 30rem;
	border: none;
	border-radius: 5px;
	padding: 1rem 1rem;
	font-size: 1.5rem;
	background-color: #fff;
}
#search:focus, .searchBtn:focus{
	border: none;
	outline: none;
}
.searchBtn{
	outline: none;
	border: none;
	padding: 1rem;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: 5px;
	background-color: #4d3f71;
	color: #fff;
	cursor: pointer;
}
.modal, #paymentModal {
  display: none; 
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content,
.paymentModal-content {
  background-color: #1aa8ab;
	color: #fff;
  margin: 15% auto;
  padding: 0px 20px;
  border: 1px solid #888;
	border-radius: 10px;
  width: 70%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.modal-content .courseList{
	width: 100%;
	margin: 6rem 0 ;
	display: flex;
	flex-direction: column;
	/* gap: 2rem; */
}
.courseList{
	font-size: 1.6rem;
	width: 100%;
}
.courseList .courseResult{
	background: #fff;
	color: #1aa8ab;
	padding: 1rem;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	margin-bottom: 2rem;
}
.courseList .courseResult:hover{
	background: #4d3f71;
	color: #fff;
}
.close, .paymentClose {
  color: #d60000;
	font-size: 4rem;
  font-weight: 700;
	cursor: pointer;
}
.paymentModal-content .payment{
	/* border: 2px solid; */
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.cardDetails{
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	width: 70%;
}
.cardDetails input{
	padding: 1rem;
	font-size: 1.5rem;
	border: none;
	border-radius: 5px;
	outline: none;
}
.cardDetails input::placeholder{
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
}
#payBtn{
	width: fit-content;
	padding: 1rem 2rem;
	background: #4d3f71;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: .2rem;
	cursor: pointer;
}
	
/* SECTION AREA */
.heroSection {
	position: relative;
	height: 85vh;
	background-color: #e6f0f0;
	background-image: url('../images/bgImg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.cont {
	width: 100%;
	height: 100%;
	padding: 0 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text-area {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.text-area h1 {
	font-size: 6rem;
	font-weight: 800;
	line-height: 1.2;
}
.text-area p {
	font-size: 1.8rem;
	font-weight: 400;
	word-spacing: 1px;
}
.text-area a {
	background: #1aa8ab;
	color: #fff;
	width: fit-content;
	outline: none;
	padding: 1.4rem 4.2rem;
}
#specialText {
	height: fit-content;
	width: 100%;
	position: relative;
	z-index: 20;
	background-size: 10px;
}
#specialText::before {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 30%;
	background: #4d3f71;
	opacity: 0.9;
	z-index: 10;
}

/* CAROUSEL SECTION */
.carousel {
	width: 100%;
}
.carousel .imgCtn {
	width: 100%;
	height: 100%;
}
.carousel .imgCtn img {
	height: 100%;
	width: 100%;
}

/* PROGRAM SECTION  */
.program {
	padding: 6rem 8rem;
	padding-bottom: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fbfbfb;
}
.program h2 {
	font-size: 3rem;
	font-weight: 600;
}
.programCtn {
	display: flex;
	gap: 6rem;
	margin-top: 6rem;
}
.programCtn .imgCtn {
	width: 41rem;
	height: 41rem;
}
.programCtn .imgCtn img {
	height: 100%;
	width: 100%;
}
.programCtn .imgCtn h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 500;
}

/* LEARNING SECTION */
.learning {
	background: #e8f2f2;
	padding: 9rem 8rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.learning > h2 {
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}
.topDiv {
	display: flex;
	justify-content: space-between;
	gap: 10rem;
}
.topDiv h2 {
	width: 45%;
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.6;
}
.coursesContainer, .bottomDiv {
	margin-top: 5rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
}
.bottomDiv{
	flex-wrap: nowrap;
}
.coursesContainer .imgCtn,
.bottomDiv .imgCtn {
	height: 100%;
	position: relative;
}
.coursesContainer .imgCtn img,
.bottomDiv .imgCtn img {
	width: 100%;
	height: 100%;
}
.imgCtn {
	position: relative;
}
.applyBtn {
	position: absolute;
	display: flex;
	margin-top: -6rem;
	right: 10px;
	z-index: 10;
	background: #1aa8ab;
	color: #fff;
	font: 1.4rem;
	font-weight: 400;
	text-align: center;
	padding: 1rem 3rem;
}
.exploreBtn {
	padding: 1rem 3rem;
	background: #1aa8ab;
	color: #fff;
	width: fit-content;
	margin: 5rem auto;
}
.coursesContainer .imgCtn p,
.bottomDiv .imgCtn p {
	margin-top: 2rem;
	font-size: 1.6rem;
	font-weight: 500;
}

/* CONTACT SECTION */
.contact {
	background: #fbfbfb;
	padding: 6rem 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact h2 {
	font-size: 3rem;
	font-weight: 600;
}
.contactDiv {
	margin-top: 5rem;
	width: 100%;
	display: flex;
	gap: 7rem;
}
.contactDiv .imgCtn {
	width: 100%;
}
.form {
	width: 100%;
	background: #fff;
	padding: 4rem;
	font-size: 1.6rem;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border: 1px solid #d3dee8;
}
.formControl {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.topContactDiv {
	width: 100%;
	display: flex;
	gap: 2rem;
}
.topContactDiv .formControl {
	flex: 1;
}
.formControl input,
.formControl textarea {
	padding: 1.5rem;
	border: 1px solid #d3dee8;
	outline: none;
	width: 100%;
}
.formControl input:focus,
.formControl textarea:focus {
	outline: none;
	border: 1px solid #1aa8ab;
}
.formControl ::placeholder {
	font-family: 'Poppins', sans-serif;
}
.formSubmit {
	margin-top: 3.3rem;
	width: fit-content;
	padding: 2rem 6rem;
	font-size: 1.8rem;
	font-weight: 100;
	color: #fff;
	background: #1aa8ab;
	border: none;
}

/* FOOTER SECTION */
footer {
	background: #4d3f71;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding-top: 7rem;
}
.footerTopDiv {
	padding: 0 10rem;
	padding-bottom: 6rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.footerTopDiv .logo {
	width: 12.4rem;
	height: 2.8rem;
	padding: 0 15px;
}
.footerDetails {
	display: flex;
	gap: 16rem;
}
.gridItems {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.gridItems h3 {
	font-size: 1.8rem;
	font-weight: 600;
}
.gridItems p {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 100;
}
.footerSocials {
	padding: 2.4rem 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerSocials p {
	font-size: 1.6rem;
	font-weight: 100;
}
.socials {
	display: flex;
	gap: 0.8rem;
}
.line {
	height: 1px;
	background: #fff;
}

/* SIGNUP AND LOGIN PAGE */
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background: url('../images/carouselImage.png') center center/cover no-repeat;
}
.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.authForm {
	width: 50%;
	background: #fff;
	padding: 4rem;
	font-size: 1.6rem;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border: 1px solid #d3dee8;
	border-radius: 10px;
	z-index: 10;
}
#ulearn {
	color: #1aa8ab;
	font-size: 2rem;
	font-weight: 600;
}
.textContainer {
	background: #fff;
	border-radius: 5px;
	padding: 1.5rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	font-size: 1.5rem;
	font-weight: 100;
	z-index: 10;
}
.textContainer .imgCtn {
	width: 12.8rem;
	height: 4rem;
}
.textContainer .imgCtn img {
	width: 100%;
	height: 100%;
}
.bottomDetails {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	font-size: 1.4rem;
}
.bottomDetails a {
	font-size: 1.4rem;
	color: #1aa8ab;
}
.bottomDetails a:hover {
	text-decoration: underline;
}
.authSubmit {
	width: fit-content;
	padding: 1rem 4rem;
	font-size: 1.8rem;
	font-weight: 100;
	color: #fff;
	background: #1aa8ab;
	border: none;
}

/* APPLY PAGE */
.apply {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 20px;
	background: #e8f2f2;
}
.apply h2 {
	font-size: 40px;
	width: 80%;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.apply .topDiv {
	background-image: url('../images/uxuiImage.png');
	background-size: cover;
	width: 76%;
	height: 50rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* .playIcon {
	width: 20rem;
	display: flex;
	align-self: center;
	height: 20rem;
} */
.payment {
	display: flex;
	width: 76%;
	margin-top: 3rem;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.payment .top {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 40%;
	border: 1px solid #d3dee8;
	padding: 20px;
	gap: 1.5rem;
	height: fit-content;
}
.top h3 {
	font-size: 16px;
	font-weight: 600;
}
.top span {
	font-weight: 400;
	margin-left: 0.5rem;
}
.courses {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.courses img {
	width: 6rem;
}
.bottom {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-self: right;
	width: 35%;
}
.bottom .money {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border: 1px solid #d3dee8;
	padding: 20px;
	margin-bottom: 0.5rem;
}
.money h2 {
	display: flex;
	text-align: left;
	margin-top: 1rem;
}
.money button {
	background-color: #1aa8ab;
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	color: white;
	padding: 1rem;
	font-size: 1.6rem;
	font-weight: 600;
	border: 1px solid #1aa8ab;
	cursor: pointer;
}
.bottom h6 {
	color: #000000;
	font-size: 8px;
	margin-bottom: 1rem;
	font-weight: 400;
}
.bottom p {
	font-weight: 700;
}

/* ABOUT PAGE */
.ctn-logo{
	width: 15rem;
	height: 3.5rem;
}
.about {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	padding: 8rem 9rem;
}
.sectionImage {
	flex: 1;
	height: 520px;
	text-align: center;
}
.sectionImage img {
	height: 100%;
	width: auto;
}
.sectionText {
	flex: 2;
	display: flex;
	flex-direction: column;
}
.sectionText h2 {
	font-size: 3rem;
	text-align: center;
	color: #1aa8ab;
	border-bottom: 2px solid #000;
}
.sectionText p {
	font-size: 1.6rem;
	font-weight: 100;
	line-height: 1.5;
	margin: 2rem 0;
}
.sectionText li{
	font-size: 1.6rem;
	list-style: disc;
	padding: .5rem 0;
	margin-left: 2rem;
	color: #1aa8ab;
	font-weight: 500;
}
.special{
	color: #1aa8ab;
	font-weight: 600;
	font-size: 2rem;
}