@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  line-height: 1.5;
  color: #000;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
.fa-solid{
  font-size: 2.5rem;
}
img{
  width: 100%;
  height: 100%;
}

/* NAVIGATION AREA */
header{
  position: relative;
  height: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}
.nav ul{
  display: flex;
  gap: 3rem;
}
.nav ul li{
  display: inline-block;
}
.nav li a:hover, nav li a:active{
  color: #1AA8AB;
}
.cta-reg{
  display: flex;
  gap: 3rem;
}
.cta-reg a{
  border: 2px solid;
  padding: 1.4rem 5rem;
  outline: none;
}
.login{
  color: #4D3F71;
  border-color: #4D3F71;
}
.login:hover{
  color: #fff;
  background: #4D3F71;
  border-color: #4D3F71;
}
.signup{
  color: #fff;
  background: #1AA8AB;
}
.signup:hover{
  background: #fff;
  color: #1AA8AB;
  border-color: #1AA8AB;
}
.toggle-btn{
  cursor: pointer;
  display: none;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background: #1AA8AB;
  top: -100rem;
  right: 0;
  width: 100%;
  overflow: hidden;
  z-index: 20000;
}
.dropdown-menu.open{
  top: 6.8rem;
  padding: 3rem 0rem;
}
.dropdown-menu ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.dropdown-menu ul a{
  color: #fff;
}
.dropdown-menu .cta-reg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}



/* SECTION AREA */
.heroSection{
  position: relative;
  height: 85vh;
  background-color:#E6F0F0;
  background-image: url(images/bgImg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cont{
  width: 100%;
  height: 100%;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-area{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.text-area h1{
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.2;
}
.text-area p{
  font-size: 1.8rem;
  font-weight: 400;
  word-spacing: 1px;
}
.text-area a{
  background: #1AA8AB;
  color: #fff;
  width: fit-content;
  outline: none;
  padding: 1.4rem 4.2rem;
}
#specialText{
  height: fit-content;
  width: 100%;
  position: relative;
  z-index: 20;
  background-size: 10px;
}
#specialText::before{
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 30%;
  background: #4D3F71;
  opacity: .9;
  z-index: 10;
}


/* CAROUSEL SECTION */
.carousel{
  width: 100%;
}
.carousel .imgCtn{
  width: 100%;
  height: 100%;
}
.carousel .imgCtn img{
  height: 100%;
  width: 100%;
}


/* PROGRAM SECTION  */
.program{
  padding: 6rem 8rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FBFBFB;
}
.program h2{
  font-size: 3rem;
  font-weight: 600;
}
.programCtn{
  display: flex;
  gap: 6rem;
  margin-top: 6rem;
}
.programCtn .imgCtn{
  width: 41rem;
  height: 41rem;
}
.programCtn .imgCtn img{
  height: 100%;
  width: 100%;
}
.programCtn .imgCtn h3{
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
}


/* LEARNING SECTION */
.learning{
  background: #E8F2F2;
  padding: 9rem 8rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.learning > h2{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.topDiv{
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.topDiv h2{
  width: 45%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.6;
}
.bottomDiv{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.bottomDiv .imgCtn{
  height: 100%;
  position: relative;
}
.bottomDiv .imgCtn img{
  width: 100%;
  height: 100%;
}
.applyBtn{
  position: absolute;
  bottom: 60px;
  right: 10px;
  z-index: 10;
  background: #1AA8AB;
  color: #fff;
  font: 1.4rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 3rem;
}
.exploreBtn{
  padding: 1rem 3rem;
  background: #1AA8AB;
  color: #fff;
  width: fit-content;
  margin: 5rem auto;
}
.bottomDiv .imgCtn p{
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
}


/* CONTACT SECTION */
.contact{
  background: #FBFBFB;
  padding: 6rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2{
  font-size: 3rem;
  font-weight: 600;
}
.contactDiv{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  gap: 7rem;
}
.contactDiv .imgCtn{
  width: 100%;
}
.form{
  width: 100%;
  background: #fff;
  padding: 4rem;
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #D3DEE8;
}
.formControl{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.topContactDiv{
  width: 100%;
  display: flex;
  gap: 2rem;
}
.topContactDiv .formControl{
  flex: 1;
}
.formControl input, .formControl textarea{
  padding: 1.5rem;
  border: 1px solid #D3DEE8;
  outline: none;
  width: 100%;
}
.formControl input:focus, .formControl textarea:focus{
  outline: none;
  
}
.formControl ::placeholder{
  font-family: 'Poppins', sans-serif;
}
.formSubmit{
  margin-top: 3.3rem;
  width: fit-content;
  padding: 2rem 6rem;
  font-size: 1.8rem;
  font-weight: 100;
  color: #fff;
  background: #1AA8AB;
  border: none;
}


/* FOOTER SECTION */
footer{
  background: #4D3F71;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}
.footerTopDiv{
  padding: 0 10rem;
  padding-bottom: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerTopDiv .logo{
  width: 12.4rem;
  height: 2.8rem;
}
.footerDetails{
  display: flex;
  gap: 17rem;
}
.gridItems{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.gridItems h3{
  font-size: 1.8rem;
  font-weight: 600;
}
.gridItems p{
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 100;
}
.footerSocials{
  padding: 2.4rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerSocials p{
  font-size: 1.6rem;
  font-weight: 100;
}
.socials{
  display: flex;
  gap: .8rem;
}
.line{
  height: 1px;
  background: #fff;
}


/* SIGNUP AND LOGIN PAGE */
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: url(images/carouselImage.png) center center/cover no-repeat;
}
.container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 3;
}
.authForm{
  width: 50%;
  background: #fff;
  padding: 4rem;
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #D3DEE8;
  border-radius: 10px;
  z-index: 10;
}
#ulearn{
  color: #1AA8AB;
  font-size: 2rem;
  font-weight: 600;
}
.textContainer{
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
  z-index: 10;
}
.textContainer .imgCtn{
  width: 12.8rem;
  height: 4rem;
}
.textContainer .imgCtn img{
  width: 100%;
  height: 100%;
}
.bottomDetails{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.4rem;
}
.bottomDetails a{
  font-size: 1.4rem;
  color: #1AA8AB;
}
.bottomDetails a:hover{
  text-decoration: underline;
}
.authSubmit{
  width: fit-content;
  padding: 2rem 6rem;
  font-size: 1.8rem;
  font-weight: 100;
  color: #fff;
  background: #1AA8AB;
  border: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 780px) {
  .nav, .cta-reg.main{
    display: none;
  }
  .toggle-btn{
    display: block;
    font-size: 2.5rem;
  }
  .dropdown-menu .cta-reg a{
    border: 2px solid;
    padding: .5rem 3rem;
    outline: none;
  }
  .dropdown-menu{
    display: block;
  }
}
@media screen and (max-width: 590px) {
  
}